@font-face {
  font-family: 'JetBrains Mono';
  src: url('jetbrains-mono/JetBrainsMono-Regular.eot'); /* IE9 Compat Modes */
  src: local('JetBrains Mono'), local('JetBrainsMono-Regular'),
       url('jetbrains-mono/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('jetbrains-mono/JetBrainsMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('jetbrains-mono/JetBrainsMono-Regular.woff') format('woff'), /* Modern Browsers */
       url('jetbrains-mono/JetBrainsMono-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
}

:root {
  --code-font: 'JetBrains Mono', monospace;
}

.reveal pre, .reveal code {
  font-family: 'JetBrains Mono', monospace;
}

.reveal code {
  line-height: 1.5
}