section
	h1 CopyCode
	h3 for Reveal.js
	br
	pre
		code.hljs.javascript(data-line-numbers, style="font-size: 1em").
			let why = `Because we always want to copy code
			           during our presentations, right?`
		//-

section
	h3 Works out of the box
	pre
		code.hljs.javascript(data-line-numbers).
			const http = require("http");
			http.createServer(function (request, response) {
			    response.writeHead(200, {"Content-Type": "text/plain"});
			    response.end("Hello World\n");
			}).listen(8081);
		//-

	p.small A 'Copy' button is automatically added to any #[code &lt;pre&gt;] code block.

section
	section
		h2 Setup 

	section
		h3 Basics
		p There are really only three steps:
		ol
			li Install and set up CopyCode
			li Copy your code from a code block
			li Paste your code somewhere

	section
		h3 Install CopyCode
		p.small Copy the #[code copycode] folder to the plugins folder of the reveal.js folder, like this: #[code plugin/copycode]. Load the script and reference it from the Reveal plugin options:
		pre
			code.hljs.html(data-line-numbers).
				&lt;script src="plugin/copycode/copycode.js"&gt;&lt;/script&gt;
				&lt;script&gt;
				    Reveal.initialize({
				        plugins: [ CopyCode ]
				    });
				&lt;/script&gt;
		//-
		p.small This plugin is also published to, and can be installed from, npm: #[br] #[code npm install --save reveal.js-copycode]


section
	section
		h2 Now change it
		p You can change the visibility, the icon use or button texts easily per element: 

	section
		h4 Change the visibility per element
		p.small Turn it off
		pre(data-cc="false")
			code.hljs.html(data-line-numbers).
				&lt;pre data-cc="false"&gt;
				    &lt;code&gt;
				        Here is the code	
				    &lt;/code&gt;
				&lt;/pre&gt;
			//-
		p.small Or show only on hover over the code block
		pre(data-cc="hover")
			code.hljs.html(data-line-numbers).
				&lt;pre data-cc="hover"&gt;
				    &lt;code&gt;
				        Here is the code	
				    &lt;/code&gt;
				&lt;/pre&gt;
			//-
		p.small This can also be set globally. See #[a(href="#/options") Global options]. Hover-only codeblocks will #[em always] show the copy button on touch devices.

	section
		h4 Change the display of icons per element
		pre(data-cc-display="icons")
			code.hljs.html(data-line-numbers).
				&lt;pre data-cc-display="icons"&gt;
				    &lt;code&gt;
				        Here is the code	
				    &lt;/code&gt;
				&lt;/pre&gt;
			//-

		pre(data-cc-display="both")
			code.hljs.html(data-line-numbers).
				&lt;pre data-cc-display="both"&gt;
				    &lt;code&gt;
				        Here is the code	
				    &lt;/code&gt;
				&lt;/pre&gt;
			//-
		p.small This can also be set globally. See #[a(href="#/options") Global options].

	section
		h4 Change the display of text per element
		pre(data-cc-copy="Copy HTML", data-cc-copied="Done")
			code.hljs.html(data-line-numbers).
				&lt;pre data-cc-copy="Copy HTML" data-cc-copied="Done"&gt;
				    &lt;code&gt;
				        Here is the code
				    &lt;/code&gt;
				&lt;/pre&gt;
			//-
		p.small This can also be set globally. See #[a(href="#/options") Global options].



section
	section#options
		h2 Global options
		.centerblock
			ol.twocol
				li button
				li display
				li text
				li plaintextonly
				li timeout
				li style
				li tooltip
				li iconsvg
				li cssautoload
				li csspath

	section
		h4 Option 1: button
		p.small The #[code button] option is to show the button, always or only on hover. 
		pre
			code.hljs.js(data-line-numbers="3").
				Reveal.initialize({
				    copycode: {
				        button: "always" // "always"|"hover"
				    },
				    plugins: [ CopyCode ]
				})
		//-
		p.small This can also be set per element with data-attributes.


	section
		h4 Option 2: display
		p.small The #[code display] option is to show text in the button, icons, or both.
		pre
			code.hljs.js(data-line-numbers="3").
				Reveal.initialize({
				    copycode: {
				        display: "text" // "text"|"icons"|"both"
				    },
				    plugins: [ CopyCode ]
				})
		//-
		p.small This can also be set per element with data-attributes.

	section
		h4 Option 3: text
		p.small The #[code text] option is an object that contains the texts for the 'copy' and 'copied' state.
		pre
			code.hljs.javascript(data-line-numbers="3-6").
				Reveal.initialize({
				    copycode: {
				        text: {
				            copy: &quot;Copy&quot;,
				            copied: &quot;Copied!&quot;
				        }
				    },
				    plugins: [ CopyCode ]
		p.small This can also be set per element with data-attributes.


	section
		h4 Option 4: plaintextonly
		p.small The #[code plaintextonly] option can be set to false to allow copying of rich text and styles. 
		pre
			code.hljs.js(data-line-numbers="3").
				Reveal.initialize({
				    copycode: {
				        plaintextonly: true // true|false
				    },
				    plugins: [ CopyCode ]
				})
		//-


	section
		h4 Option 5: timeout
		p.small The #[code timeout] option is the time in milliseconds for the "Copied!"-state to revert back to "Copy". 
		pre
			code.hljs.js(data-line-numbers="3").
				Reveal.initialize({
				    copycode: {
				        timeout: 1000
				    },
				    plugins: [ CopyCode ]
				})
		//-



	section
		h4 Option 6: style
		p.small The #[code style] option is an object that contains settings for background colors, colors, sizing, spacing and border styles. 
		pre
			code.hljs.js(data-line-numbers="3-12").
				Reveal.initialize({
				    copycode: {
				        style: {
				            copybg: "orange", // Any CSS color, hex, named etc.
				            copiedbg: "green",
				            copycolor: "black",
				            copiedcolor: "white",
				            copyborder: "", // e.g. "1px solid blue"
				            copiedborder: "",
				            scale: 1,
				            offset: 0, // in em units
				            radius: 0  // in em units
				        }
				    },
				    plugins: [ CopyCode ]
				})
		//-



	section
		h4 Option 7: tooltip
		p.small The #[code tooltip] option makes sure that the 'copied' text is shown in a tooltip, when an icon-only button display is used.
		pre
			code.hljs.js(data-line-numbers="3").
				Reveal.initialize({
				    copycode: {
				        tooltip: true
				    },
				    plugins: [ CopyCode ]
				})
		//-



	section
		h4 Option 8: iconsvg
		p.small The #[code iconsvg] option is an object with placeholders for SVG icons for the 'copy' and 'copied' state. If left empty, it will use the default icons.
		pre
			code.hljs.js(data-line-numbers="3-6").
				Reveal.initialize({
				    copycode: {
				        iconsvg: {
				            copy: '',  // User can paste &lt;svg&gt;…&lt;/svg&gt; code here
				            copied: '' // User can paste &lt;svg&gt;…&lt;/svg&gt; code here
				        }
				    },
				    plugins: [ CopyCode ]
				})
		//-


	section
		h4 Option 9: cssautoload
		p.small CopyCode will automatically load the CSS if this is set to #[code true]. 

		pre
			code.hljs.js(data-line-numbers="3").
				Reveal.initialize({
				    copycode: {
				        cssautoload: true
				    },
				    plugins: [ CopyCode ]
				})
		//-
		p.small If CopyCode runs in a bundler or module environment, where you should use #[code import] for your styling, it will automatically turn off autoloading. You can still turn on autoloading, but you will need to manually add this setting like shown above.


	section
		h4 Option 10: csspath
		p.small The #[code csspath] option can be used when the you want to use your own stylesheet, instead of the provided one. 
		pre
			code.hljs.js(data-line-numbers="3").
				Reveal.initialize({
				    copycode: {
				        csspath: ''
				    },
				    plugins: [ CopyCode ]
				})
		//-
		p.small Use this if you really want to change things that you can't override from the Reveal.js config.

section
	h3 Using the global options
	p.small The global options make CopyCode very customizable. For example, to make all buttons look more like the standard GitHub copy-buttons, you can tweak the configuration like this:
	pre(data-cc-copy="Copy HTML", data-cc-copied="Done")
		code.hljs.json.
			copycode: { timeout: 1200, button: "hover", display: "icons", style: { copybg: "rgba(255,255,255,128)", copiedbg: "white", copyborder: "2px solid gray", copiedborder: "2px solid green", copiedcolor: "green", offset: 0.5, radius: 0.2} }
		//-
