section
	h1 CopyCode
	h3 for Reveal.js
	p.small Customized copy button
	pre
		code.hljs.javascript(data-line-numbers, style="font-size: 1em").
			let why = `Because we always want to copy code
			           during our presentations, right?`
		//-

section
	h3 Configuring CopyCode
	pre
		code.hljs.javascript.
			copycode: { timeout: 1200, button: "hover", display: "icons", style: { copybg: "rgba(255,255,255,128)", copiedbg: "white", copyborder: "2px solid gray", copiedborder: "2px solid green", copiedcolor: "green", offset: 0.5, radius: 0.2} }
		//-

	p.small Add the above code to the Reveal.js configuration, and you will get a 'GitHub-flavored' copy button.

section
	p This is just an example file to show a customized copy button. For more CopyCode options, check the #[a(href="demo.html") demo].